.main {
  width: 1450px;
height: 1172px;
background: #FFFFFF 0% 0% no-repeat padding-box;
}

.top-laundry {
  position: relative;
  top:13px;
  left:100px;
}

.navBar {
  display:flex;
  justify-content: space-between;
  width: 1440px;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 48px #0000000F;
}

.navBar-nav{
  display:flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 452px;
}

.right {
  position: relative;
left: 485px;
  width: 710px;
  height: 769px;
  background: #B9C0FD1A 0% 0% no-repeat padding-box;
  border-left:1px solid grey;
}

.laundry-service1 {
  position: relative;
  top: 20px;
left: 180px;
width: 246px;
height: 257px;
text-align: left;
font: normal normal 900 100px/120px Avenir;
letter-spacing: 0px;
color: #5861AE;
}


.laundry-service {
  position: relative;
  top: 20px;
left: 180px;
width: 246px;
height: 257px;
text-align: left;
font: normal normal 900 100px/120px Avenir;
letter-spacing: 0px;
color: #5861AE;
}

.doorstep1 {
  position: relative;
  top: -70px;
left: 175px;
  width: 245px;
height: 27px;
text-align: left;
font: normal normal normal 20px/26px Avenir;
letter-spacing: 0.8px;
color: #565657;
  white-space: nowrap;
}


.doorstep {
  position: relative;
  top: -70px;
left: 175px;
  width: 245px;
height: 27px;
text-align: left;
font: normal normal normal 20px/26px Avenir;
letter-spacing: 0.8px;
color: #565657;
}

.dont {
  position: relative;
left: 170px;
width: 189px;
height: 22px;
text-align: left;
font: normal normal normal 16px/26px Avenir;
letter-spacing: 0.64px;
color: #565657;
}

.register {
  position:relative;
left: 170px;
width: 150px;
height: 50px;
border: 2px solid #4552C1;
border-radius: 4px;
color:#4552C1;
background-color: white;
}

.right-sign{
  position:relative;
  top: 100px;
left: 80px;
width: 128px;
height: 44px;
text-align: left;
font: normal normal 400 32px/60px Avenir;
letter-spacing: 1.28px;
color: #4552C1;
}

form {
  position: relative;
  top:130px;
  left:90px;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
}

.bottom {
  display: flex;
  position: relative;
  top:-20px;
height: 197px;
background: transparent url('img/Footer.svg') 0% 0% no-repeat padding-box; 
gap:115px;
}

.bottom-seperate {
  position: relative;
  top:22px;
  margin-left:150px;
  display:flex;
  gap:70px;
}

.about { 
  position: relative;
  left:125px;
  top:35px;
  width: 120px;
height: 25px;
text-align: center;
font: normal normal 500 18px/24px Avenir;
letter-spacing: 0.18px;
color: #182838
}

.doorstep-bottom {
  position: relative;
  left:142px;
  top:26px;
}


label {
  color: #5861AE;
}

input {
  position: relative;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 8px 4px;
  width: 65%;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: transparent;
  margin-bottom: 40px;
}


input:focus {
  border-bottom: 2px solid #007BFF; 
}

.sign-button {
  position: relative;
  top:50px;
left: 135px;
width: 150px;
height: 50px;
background: #5861AE 0% 0% no-repeat padding-box;
border:none;
color:white;
}

.text-danger{
  position: relative;
  right:240px;
  color:red;
  text-align: right;
  margin-top: -35px;
  font-style: italic;
}

.last-footer {
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;

position: relative;
top: 65px;
width: 1440px;
height: 50px;
background: #182838 0% 0% no-repeat padding-box;
border: 1px solid #707070;
}

h2 {
height: 27px;
text-align: left;
font: normal normal 900 20px/27px Avenir;
letter-spacing: 1.8px;
color: #5861AE;
}

.nav-item {
  position: relative;
  top: 30px;
  left:25px;
width: 60px;
height: 19px;
text-align: center;
font: normal normal normal 14px/19px Avenir;
letter-spacing: 1.05px;
}

.border {
  position: relative;
  height:80px;
  top:-16px;
  border-left: 0.5px solid #E3E3E3;
}

a {
  color:#565657;
  text-decoration: none;
}

.referral {
  position:relative;
  top: 15px;
left: 463px;
width: 519px;
height: 33px;
text-align: left;
font: normal normal 600 24px/26px Open Sans;
letter-spacing: 0.96px;
color: #5861AE;
}

.conditions {
  position:relative;
  top: -10px;
left: 630px;
width: 183px;
height: 14px;
text-align: left;
font: italic normal normal 10px/26px Open Sans;
letter-spacing: 0.4px;
}

.terms {
  position: relative;
  top:-15px;
  height:80px;
  width:1440px;
}


.register-mid {
  display:flex;
  width:1440px;
}

.right1 {
  position: relative;
  width: 1038px;
  height: 766px;
  background: #F8F9FF 0% 0% no-repeat padding-box;
}

.left {
  width:50%;
}

