.middle-dash {
    display:flex;
    height:900px;
}

.vertical-navbar {
    display: flex;
    flex-direction: column;
    background-color:#5861AE;
    width: 62px;
    height: 966px;
    align-items: center;
  }
  
  .vertical-navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 15px 0;
    transition: color 0.3s ease;
  }
  
  .vertical-navbar a:hover {
    color: #61dafb;
  }

  .nav-link.active {
    background-color: white;
    width:150%;
    height:6%;
    position: relative;
  }
  
  .nav-link {
    width:150%;
    height:6%;
  }